@font-face {
    font-family: "BAUHS93";
    src: url(../fonts/BAUHS93.ttf) format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url(../fonts/Futura.ttc) format("ttc");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Apple Chancery";
    src: url(../fonts/Apple\ Chancery.ttf) format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chalkduster";
    src: url(../fonts/Chalkduster.ttf) format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SPOOKY MONSTER";
    src: url(../fonts/SPOOKY\ MONSTER.ttf) format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bounty";
    src: url(../fonts/Bounty.ttf) format("ttf");
    font-weight: normal;
    font-style: normal;
}

@keyframes emergence {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
  
@keyframes dissipation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

html {
    padding: 0;
    margin: 0;
}

body {
    text-transform: uppercase;
    font-family: "BAUHS93", Bauhaus93;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 24px;
    background-color:dimgray;
}

strong{
    color: whitesmoke;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px 0 #000000;
}

.hidden {
    display: none;
}

/**********************


         HEADER

*********************/

.header {
    
    background-image: url(../img/main-background.jpeg);
    background-repeat: no-repeat;
    height: 600px;
    background-position: 50% bottom, 100% top;
    position: relative;
}

.header-recipes {
    min-height: 540px;
    background-image: url(../img/recipes-background.png);
    background-repeat: no-repeat;
    background-position: 50% bottom, 100% top;
    position: relative;

}

.header-logo {
    background-repeat: no-repeat;
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-list {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    color:whitesmoke;
    background-color:black;
    list-style: none;
    padding-left: 0;
}
  
.nav-item {
    line-height: 53px;
    font-weight: bold;
    text-align: center;
    width: 224px;
}

.nav-item:hover {
    background-color: #b2b2b2;
    transition:0.5s;
}

.nav-item:not(:hover) {
    background-color: black;
    transition:0.5s;
}

.nav-item:nth-child(1) {
    width: 261px;
}

.nav-item:nth-child(2) {
    width: 261px;
}

.nav-item:nth-child(3) {
    width: 150px;
}

.hidden-link {
    color:whitesmoke;
    text-decoration: none;
}

.img-link {
    margin-bottom: -5px;
}

.link {
    display: block;
    text-decoration-line: none;
    padding: 10px 0;
    color:whitesmoke;
}
  
.link:hover {
    color:black;
    transition:0.3s ease;

}

.link:active {
    color: #b2b2b2;
}

.sign-in-button {
    background: transparent;
    color:#f5f5f5;
    line-height: 53px;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
    width: 80px;
    height: 73px;
    border:none;
}

.sign-in-button:hover {
    color:black;
    cursor: pointer;
}

.sign-in-button:active {
    background-color: #f5f5f5;
}

.nav-item-sign-in {
    font-weight: bold;
    text-align: center;
}

.nav-item-sign-in:hover {
    background-color: #b2b2b2;
    transition:0.5s;
}

.nav-item-sign-in:not(:hover) {
    background-color: black;
    transition:0.5s;
}



.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: currentColor;
}

/******************

        MAIN

******************/

.what-is-ag-brewery {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    color:whitesmoke;
    background-color: black;
}

.our-beer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 256px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.beer-description {
    padding: 4px 70px;
    font-family: "Futura";
    color:azure;
}

/* .zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05);
} */

.bold {
    font-size: 28px;
    line-height: 26px;
    font-weight: bold;
}

.beer-name {
    line-height: 26px;
    font-size: 24px;
}

.index-title, .paragraph {
    padding: 0px 150px;
    text-align: center;
}

.paragraph {
    font-family: "Futura";
}

.footer {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 36px 100px 36px 130px;
    background-color: black;
}

.footer--left-column {
    align-self: flex-start;
    float: left;
}

.footer--right-column {
    align-self: flex-end;
    float: right;
}

#back-top {
    position: fixed;
    bottom: 0px;
    padding: 0px;
    margin-left: 20px;
    z-index:99991;
    text-align: center;

}
#back-top a{
    padding-top: 25px;
    width: 77px;
    height: 30px;
    background: rgba(0, 0, 0, 0.25);
    color:black;
    display:block;
    text-decoration:none;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-align: center;
     
}
 
#back-top a:hover{
    padding-top: 80px;
    height: 80px;
    background: grey;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: black;
    text-align:center;

}

.search-box{
    position:absolute;
    top:190px;
    left:50px;
    transform:translate(0%,-100%);
    background: black;
    height: 40px;
    border-radius:40px;
    padding:10px;
}

.search-box:hover > .search-txt {
    width: 160px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: whitesmoke;

}

.search-btn {
    color: #222222;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: whitesmoke;
    font-size: 24px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.copyright {
    color:whitesmoke;
    position:relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    top:20px;
    left: 30%;
}

.write-to-author {
    color:whitesmoke;
    text-decoration: none;
    text-transform: none;
}

.write-to-author:active {
    color:whitesmoke;
}

.write-to-author:visited {
    color: whitesmoke;
    text-decoration: none;
}